# Ignore swap file 
*.swo
*.swp
# Ignore zip files 
*.zip
# Ignore tags files
tags
# Ignore output binaries
bin/asm8080
bin/dis8080
bin/emu8080
bin/byte_list_mem_check
bin/line_info_mem_check
# Ignore coredumps 
vgcore*
